.menu > ul{
 display: flex;
 justify-content: center;
}   
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  background:#FAEEDD; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#FAEEDD; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#79553D; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
  border-right: 1px solid #79553D; /*добавляем бордюр справа*/
  transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
}
a:hover {
  color:#7366BD;
   border-right: 1px solid #7366BD;
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}
  
